<!DOCTYPE html>
<html ng-app="luna">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font - Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

</head>

<!-- Body -->
<!-- appCtrl controller with several data used in theme on different view -->
<body  class="{{$state.current.data.specialClass}}">



<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page view wrapper -->
<div ui-view></div>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/PACE/pace.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!--<script src="scripts/luna.js"></script>-->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/controllers/todo.js"></script>
<!-- endbuild -->

</body>
</html>