<!-- Main content-->
<!-- Navigation -->
<section ng-controller="todoCtrl">
<aside class="navigation" ng-include="'views/common/navigation.html'"></aside>
<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-filled" id="todoListAdd">
                <div class="panel-body">
                    <div class="form-group">
                        <input id="todoListField" type="text" class="form-control text-center" ng-model="newTodoList" placeholder="New To Do List">
                    </div>
                    <div class="form-group">
                        <button id="todoListSubmit" class="btn btn-w-md btn-accent btn-block" ng-click="addTodoList()">
                            Create
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                <input type="search" class="form-control text-center" placeholder="Search for List" ng-model="todoListSearch">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-filled" id="todoAdd">
                    <div class="panel-body">
                        <div class="form-group">
                            <input id="todoField" type="text" class="form-control text-center" ng-model="newTodo" placeholder="New Task">
                        </div>
                        <div class="form-group">
                            <button id="todoSubmit" class="btn btn-w-md btn-accent btn-block" ng-click="addTodo()">
                                Create
                            </button>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="search" class="form-control text-center" placeholder="Search for Task" ng-model="todoSearch">
                </div>
            </div>
        </div>
        </div>
        <div class="row"><hr>
        <div class="col-lg-12">
            <ul class="nav nav-pills todo-filter">
                <li ng-class="{'active' : show == 'All' }" ng-click="show='All'"><a href="#">All</a></li>
                <li ng-class="{'active' : show == 'Incomplete' }" ng-click="show='Incomplete'"><a href="#">Incomplete</a></li>
                <li ng-class="{'active' : show == 'Complete' }" ng-click="show='Complete'"><a href="#">Complete</a></li>
            </ul>
            <div class="row">
                <div class="col-lg-12">
                    <div class="progress m-t-xs full progress-small">
                        <div style="width: {{(completedCount() / todos.length) * 100}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-warning">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Completed?</th>
                            <th>Title</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="todo in todos | filter:showFn | filter :todoSearch">
                            <td><input ng-model="todo.isDone" type="checkbox"></td>
                            <td>{{todo.taskName}}</td>
                            <td><i class="pe pe-2x pe-7s-close-circle text-accent" ng-click="deleteTodo($index)"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
</section>
<!-- End main content-->
