<div class="container-fluid">
    <div class="navbar-header">
        <div id="mobile-menu">
            <minimaliza-menu></minimaliza-menu>
        </div>
        <a class="navbar-brand" href="index.html">
            Todo
            <span>v.0.1</span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <minimaliza-menu></minimaliza-menu>
    </div>
</div>