<!-- Navigation-->
<nav>
    <ul class="nav luna-nav">
        <li class="nav-category" ng-repeat="todos in model | filter :todoListSearch">
            <a ui-sref="main.main" ng-class="{'active' : currentShow === $index}" ng-click="selectTodo($index)">
                {{todos.name}}
                <span class="label label-accent">{{todos.list.length}}</span>
                <button type="button" class="close pull-right" aria-hidden="true" ng-click="deleteTodoList($index)">&times;</button>
            </a>
        </li>
        <li class="nav-info">
            <i class="pe pe-7s-add-user text-accent"></i>
            <div class="m-t-xs">
                <span class="c-white">Carlos Balderas</span>, SchooLinks hopeful and creator of this to do list,
                tries to visit 7 new places a year, loves hosting wine/cheese nights, has an AWESOME Australian Shepherd
                , and recently signed up to teach Comp Sci for an after school program.
            </div>
        </li>
    </ul>
</nav>
<!-- End navigation-->